@{
    ViewData["Title"] = "Contato";
}
<h1>@ViewData["Title"]</h1>

<p>Entre em contato por aqui.</p>

<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">Nome Completo:</span>
  <input type="text" class="form-control" placeholder="Dick Grayson" aria-label="Username" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">E-mail:</span>
  <input type="email" class="form-control" placeholder="Bat-email" aria-label="Username" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">Número de telefone:</span>
  <input type="number" class="form-control" placeholder="999999999" aria-label="Username" aria-describedby="basic-addon1">
</div>

<div class="input-group">
  <span class="input-group-text">Coméntarios:</span>
  <textarea class="form-control" aria-label="With textarea"></textarea>
</div>

