@{
    ViewData["Title"] = "Destinos";
}
<h1>@ViewData["Title"]</h1>

<div class="card float-left" style="width: 20rem; margin-bottom: 100px;  margin-left: 50px;"">
  <img class="card-img-top" src="https://images.pexels.com/photos/3763907/pexels-photo-3763907.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Imagem de capa do card">
  <div class="card-body">
    <h5 class="card-title">Espanha</h5>
    <p class="card-text">Touros, Flamenco, Luxo, tudo isso te aguarda na Espanha</p>
    <a href="#" class="btn btn-primary">Visitar</a>
  </div>
</div>

<div class="card float-left" style="width: 20rem; margin-bottom: 100px;  margin-left: 50px;"">
  <img class="card-img-top" src="https://images.pexels.com/photos/802024/pexels-photo-802024.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Imagem de capa do card">
  <div class="card-body">
    <h5 class="card-title">Nova York</h5>
    <p class="card-text">"A cidade que nunca dorme", Nova York não leva esse nome atoa, muitas coisas para fazer e locais para visitar.</p>
    <a href="#" class="btn btn-primary">Visitar</a>
  </div>
</div>

<div class="card float-left" style="width: 20rem; margin-bottom: 100px;  margin-left: 50px;"">
  <img class="card-img-top" src="https://images.pexels.com/photos/2341830/pexels-photo-2341830.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Imagem de capa do card">
  <div class="card-body">
    <h5 class="card-title">Japão</h5>
    <p class="card-text">Tradição, tecnologia e cultura, é o que te aguarda no Japão.</p>
    <a href="#" class="btn btn-primary">Visitar</a>
  </div>
</div>







