*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/*****************************INICIO CABEÇALHO**************************/

#cabeçalho{
    text-align: center;
    background-color: #eec006;
}

h1{
    padding: 25px 0px;
    font-size: 40px;
    color: white;
}

span{
    color:gray;
}

#menu-cabeçalho{
    padding-bottom: 25px;
}

#menu-cabeçalho a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

#menu-cabeçalho a:hover{
    color:  #eec006;
    background-color: white;
}

/*****************************FIM CABEÇALHO**************************/


/*****************************INICIO CONTÚDO**************************/



/*****************************FIM CONTÚDO**************************/