*{
    margin: 0px;
    padding: 0px;
}

body{
    background: rgb(224, 210, 210);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*****************************INICIO CABEÇALHO**************************/

#cabeçalho{
    text-align: center;
    background-color: #eec006;
}

#cabeçalho h1{
    padding: 20px 0px;
    font-size: 40px;
    color: white;
}

span{
    color:rgb(82, 82, 82);
}

#menu-cabeçalho{
    padding-bottom: 20px;
}

#menu-cabeçalho a{
    color: white;
    text-decoration: none;
    padding: 15px;
}

#menu-cabeçalho a:hover{
    color:  #eec006;
    background-color: white;
}

/*****************************FIM CABEÇALHO**************************/

.fundo{
    text-align: center;
    height: 460px;
    background-image: url(imagem/imagem1.jpg);
}

.conteudo-pag{
    position: relative;
    top: 200px;
}

.corpo-site{
    float: left;
    margin: 56px 0px;
    margin-left: 30px;
}

.caixa-conteudo{
   width: 320px;
   height: 320px;
   margin-left: 5px;
   background-color: white;
   float: left; 
   text-align: center;
}

h2{
    text-align: center;
}

img{
    width: 310px;
    height: 200px;
    display: block;
    margin: 5px auto;
}

p{
    text-align: center;
}
form{
    height: 432px;
    margin-left: 5px;
}
textarea{
    max-height: 220px;
}



/*****************************INICIO RODAPÉ**************************/

#rodape{
    clear: both;
    background-color: rgb(197, 192, 192);
    text-align: center;
    padding: 10px 0px;
}

/*****************************FIM RODAPÉ**************************/
