@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Fuzzy Bubbles', cursive;
}

body{
    background-color: #FAE1DD;
}

header{
    background-color: #FEC5BB;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 100px;
}

h1{
    font-size: 45px;
    color: #8a948e;
}

#frase-titulo{
    font-size: 18px;
    font-weight: 700;
    color: #ffb16c;
}

section{
    border: 1px solid red;
    float: left;
    margin-left: 10px;
}

.caixa-conteudo{
   width: 240px;
   height: 220px;
   margin-left: 10px;
   background-color: white;
   float: left; 
}

h2{
    text-align: center;
}

img{
    width: 150px;
    height: 160px;
    display: block;
    margin: 5px auto;
}

p{
    text-align: center;
}