#one{
    width: 200px;
    height: 200px;
    background-color: brown;
    transition: transform 2s;
}

#one:hover{
    transform: translate(200px, 200px) rotate(180deg) scale(2) skew(15deg, 20deg);
}