body{
    font-family: Arial, Helvetica, sans-serif;
}

.bold{
    font-weight: bold;
}

button{
    background-color: teal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
}