<!DOCTYPE html>
<html lang="pt-br">
  <%- include('../partials/head') %>
    <body>
      <%- include('../partials/nav');%>

      <article class="jumbotron d-flex flex-column justify-content-center align-items-center">
        <h2 class="text-primary">Sobre Mim</h2>

        <p class="text-secondary pl-3">Me chamo Christian e sou um amante da tecnologia desde os 13 anos, meu sonho é poder mudar o mundo com a tecnologia, através da programação</p>
      </article>

      <%- include('../partials/footer') %>

      <%- include('../partials/scripts') %>
    </body>
</html> 