<!DOCTYPE html>
<html lang="pt-br">
   <%- include('../partials/head') %>
    <body>
      <%- include('../partials/nav') %>

      <article class="jumbotron d-flex flex-column justify-content-center align-items-center">
        <h2 class="text-primary">Contato</h2>

        <p class="text-secondary">Para entra em contato é só mandar um zap para (xx) xxxxx-xxxx </p>
      </article>

      <%- include('../partials/footer') %>

      <%- include('../partials/scripts') %>
    </body>
</html>