<!DOCTYPE html>
<html lang="pt-br">
   <%- include('../partials/head') %>
    <body>
      <%- include('../partials/nav') %>

      <article class="jumbotron d-flex flex-column justify-content-center align-items-center">
        <h2 class="text-primary">Olá galera</h2>

        <p class="text-secondary">Esse é meu primeiro arquivo EJS, espero que goste</p>
      </article>

      <%- include('../partials/footer') %>

      <%- include('../partials/scripts') %>
    </body>
</html>