*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    align-items: center;
    padding: 1rem 0.5rem;
    background-color: beige;
}

h2{
    flex-basis: 57%;
}

ul{
    list-style-type: none;
    display: flex;
}

a{
    text-decoration: none;
    color: gray;
    padding-right: 2rem;
    font-weight: 500;
}

button{
    background-color: blue;
    color: aliceblue;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
}

